@import "var";


/*INDICE*/

/*INDEX*/

/*PCARMADA*/

/*INSUMOS*/

/*OFERTAS*/

/*REGISTRO*/

/*NOTEBOOKS*/





* {
  margin: 0%;
  padding: 0%;
}
body {
    color: white;
    background-color: rgb(23, 23, 23);
    font-family: 'Montserrat', sans-serif;
    

    a {
        color: white;
        text-decoration: none;
      }

    li, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }

    .SectionBanner img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    }

    .ImgFactor {
    width: auto;
    height: 204;
    padding: 0px 0.5rem;
    }
}




/*Media Nav-Footer PHONE*/
  @media only screen and (max-width: 599px) {
  
  /*Nav*/

    #Nav {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: auto;
  }
  .Mobile, .TitleDiv, .TitleSection, .Carousel-Mobile {
    display: none;
  }
    
  /*Footer*/

  .LogoContainer {
    display: none;
  }
  #Footer {
    display: block;
    height: 200px;
  }
  .a {
    display: none;
  }
  .IconsStyle {
    margin: 10px;
  }
 }
 /*TABLET*/
 @media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*Footer*/
  .LogoContainer {
    display: none;
  }
 }

 /*Footer Style*/
  #Footer {
  display: block;
  height: 200px;
  }
  .IconsStyle {
  margin: 10px;
  }





  /*_________________BLOQUES_________________*/
  
  
  
  
  
  /*.SectionItem-D {
    align-items: center;
    background-color: #444444;
    overflow: hidden;
    display: flex;
  }
  .SectionItem-O {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  .ItemBox {
    width: 230px;
    height: 280px;
    background-color: #EDEDED;
    display: block;
    border-radius: 10px;
    margin: 5px;
  }
  .ItemImgBox {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
    img {
      height: 150px;
      width: auto;
      padding-top: 20px;
    }
  }
  .ItemSpanBox {
    width: 100%;
    height: 30%;
    color: black;
    margin-top: 25px;
    overflow: hidden;
  }
  .Title {
    text-align: center;
    width: 100%;
    display: block;
  }
  .Price {
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 5px;
    background-color: $pal-white;
    font-size: x-large;
  }*/
  
  /*Bloque Item Venta
  .SectionItem-O {
    @extend %SectionItemO0;
    .ItemBox {
      a {
      @extend %ItemBox1;
        .ItemImgBox {
          @extend %ItemImgBox2;
        }
        .ItemSpanBox {
          @extend %ItemSpanBox3;
          .Price {
            @extend %Price;
          }
          .Title {
            @extend %ItemTitle;
          }
        } 
      }
    }
  }*/
  




  /*HEADER*/
  
  #Nav {
    background-color: rgb(68, 68, 68);
  }
  
  .Logo {
    width: 209;
    height: auto;
    margin: 15px;
  }
  



  
  /*--------------------------INDEX--------------------------*/




  
  /*Seccion Uno*/
  .TitleSectionOne {
    margin:30px auto 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1290px;
    h3 {
      font-weight: bold;
      font-style: italic;
    }
  }
  .PCDescriptionOne {
    text-decoration: underline;
    color: #DA0037;
    transition: 0.4s;
    display:block;
  
    &:hover {
      color: #EDEDED;
    }
  }
  .SectionPcArmadaOne {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
    .SectionItem {
      align-items: center;
      background-color: #444444;
      overflow: auto;
      display: flex;

      .PcArmadaItemBox {
        width: 230px;
        height: 280px;
        background-color: #EDEDED;
        display: block;
        border-radius: 10px;
        margin: 15px;

        .PcArmadaImgBox {
          img {
            height: 150px;
            width: auto;
            padding-top: 20px;
          }
        
          display: flex;
          justify-content: center;
          background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
        }   
        .PcArmadaSpanBox {
          width: 100%;
          height: 30%;
          color: black;
          margin-top: 25px;
          overflow: hidden;

          .PcArmadaItemTitle {
            text-align: center;
            width: 100%;
            display: block;
          }

          .PcArmadaPrice {
            font-weight: bold;
            text-align: center;
            width: 100%;
            display: block;
            padding-bottom: 5px;
            background-color: $pal-white;
            font-size: x-large;
          }
        }
      }
    } 
  }
  .PcArmadaImg {
    height: 400px;
    width: auto;
  }

  /*Seccion Dos*/
  
  .TitleSectionTwo {
    margin:30px auto 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1290px;
    h3 {
      font-weight: bold;
      font-style: italic;
    }
  }
  .PDescriptionTwo {
    text-decoration: underline;
    color: $pal-red;
    transition: 0.4s;
  
    &:hover {
      color: $pal-white;
    }
  }
  .SectionNotebookTwo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    .SectionItem {
      align-items: center;
      background-color: $pal-gray;
      overflow: auto;
      display: flex;

      .NotebookItemBox {
        width: 230px;
        height: 280px;
        background-color: $pal-white;
        display: block;
        border-radius: 10px;
        margin: 15px;

        .NotebookImgBox {
          img {
            height: 150px;
            width: auto;
            padding-top: 20px;
          }
        
          display: flex;
          justify-content: center;
          background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
        }

        .NotebookSpanBox {
          width: 100%;
          height: 30%;
          color: black;
          margin-top: 25px;
          overflow: hidden;

          .NotebookItemTitle {
            text-align: center;
            width: 100%;
            display: block;
          }

          .NotebookPrice {
            font-weight: bold;
            text-align: center;
            width: 100%;
            display: block;
            padding-bottom: 5px;
            background-color: $pal-white;
            font-size: x-large;
          }
        } 
      }
    }
  }
  .NotebookImg {
    height: 400px;
    width: auto;
  }

  /*Seccion Tres*/

  .Envios {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: $pal-gray;
    margin-bottom:50px;
    border-top: $pal-red solid 2px;
    border-bottom: $pal-red solid 2px;
    
    .itemsEnvios {
      flex-wrap: wrap;
      justify-content: center;
    }

      .Envios__Tarjeta {
        width: 300px;
        height: 400px;
        font-size: 1vw;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__Tarjeta__Icon {
          margin: 10px;
        }

        .Envios__Tarjeta__Span {
          font-size: x-large;

          .Envios__Tarjeta__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__Tarjeta__Span__Description {
            font-style: italic;
          }
        }
      }

      .Envios__Camion {
        width: 300px;
        height: 400px;
        margin: 40px;
        font-size: 1vw;
        text-align: center;
        border:$pal-white solid;

        .Envios__Camion__Icon {
          margin-bottom:10px;
        }
        .Envios__Camion__Span {
          font-size: x-large;

          .Envios__Camion__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__Camion__Span__Description {
            font-style: italic;
          }
        }
      }
      .Envios__FastCamion {
        width: 300px;
        height: 400px;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__FastCamion__Icon {
          margin-bottom:10px;
        }

        .Envios__FastCamion__Span {
          font-size: x-large;

          .Envios__FastCamion__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }
          
          .Envios__FastCamion__Span__Description {
            font-style: italic;

            .Envios__FastCamion__Span__Description--Terms {
              text-decoration: underline;
              color: $pal-white;
              transition: 0.4s;
            }
            .Envios__FastCamion__Span__Description--Terms:hover {
              color: $pal-red;
            } 
          }
        }
      }  
      .Envios__CashBack {
        width: 300px;
        height: 400px;
        margin: 40px;
        text-align: center;
        border:$pal-white solid;

        .Envios__CashBack__Icon {
          margin:10px;
        }

        .Envios__CashBack__Span {
          font-size: x-large;

          .Envios__CashBack__Span__Title {
            color: $pal-red;
            font-weight: bold;
          }

          .Envios__CashBack__Span__Description {
            font-style: italic;
          }
        }
      }
  }

  .BannerMiddleImg img {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
    
  


  /*Mobile First - Celular*/
      @media only screen and (max-width: 599px) {
            
        /*----------INDEX----------*/
        .IndexSectionMargin {
          margin: 0 0 auto ;

          .TitleSectionOne {
            text-align: center;
          }
          .SectionPcArmadaOne {
            width: auto;
  
            .ImgSectionOneMobile {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/2); 
                margin: 0px;
  
                .PcArmadaItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              }
            }
          }
        
          .TitleSectionTwo {
            text-align: center;
          }
          .SectionNotebookTwo {
            width: auto;
  
            .ImgSectionTwoMobile {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/2); 
                margin: 0px;
  
                .NotebookItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              } 
            } 
          }
        }

        .Envios {
          flex-direction: column;
          align-items: center;
          width: auto;

          .itemsEnvios {
            flex-direction: column;

            .EnviosWidth {

              .Envios__Tarjeta {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__Tarjeta__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Tarjeta__Span {
                  font-size: medium;
                }
              }
              .Envios__Camion {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__Camion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Camion__Span {
                  font-size: medium;
                }
              }
              .Envios__FastCamion {
                margin: 15px;
                width: auto;
                height: auto;

                .Envios__FastCamion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__FastCamion__Span {
                  font-size: medium;
                }
              }
              .Envios__CashBack {
                margin: 15px;
                width: auto;
                height: auto;
                .Envios__CashBack__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__CashBack__Span {
                  font-size: medium;
                }
              }
            }
          }
        }
        /*Body*/
        
        
      
      
        
      }
      /*Tablet*/
      @media only screen and (min-width: 600px) and (max-width: 1024px) {

        /*----------INDEX----------*/
        .IndexSectionMargin {
          margin: 0 0 auto ;

          .TitleSectionOne {
            text-align: center;
          }
          .SectionPcArmadaOne {
            width: auto;
  
            .ImgSectionOneMobile {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/3); 
                margin: 0px;
  
                .PcArmadaItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              }
            }
          }
        
          .TitleSectionTwo {
            text-align: center;
          }
          .SectionNotebookTwo {
            width: auto;
  
            .ImgSectionTwoMobile {
              display: none;
            }
  
            .SectionItem {
              display: flex;
              flex-wrap: wrap;
              background-color: transparent;
              width: 100%;
  
              .ItemBoxes {
                width: calc(100%/3); 
                margin: 0px;
  
                .NotebookItemBox {
                  width: auto;
                  margin:3px 3px;
                }
              } 
            } 
          }

        }
        

        .Envios {
          flex-direction: column;
          align-items: center;
          width: auto;

          .itemsEnvios {
            flex-direction: row;

            .EnviosWidth {

              width: calc(100%/2);

              .Envios__Tarjeta {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__Tarjeta__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Tarjeta__Span {
                  font-size: medium;
                }
              }
              .Envios__Camion {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__Camion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__Camion__Span {
                  font-size: medium;
                }
              }
              .Envios__FastCamion {
                margin: 15px;
                width: auto;
                height: 250px;

                .Envios__FastCamion__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__FastCamion__Span {
                  font-size: medium;
                }
              }
              .Envios__CashBack {
                margin: 15px;
                width: auto;
                height: 250px;
                .Envios__CashBack__Icon {
                  width: 60px;
                  height: auto;
                }
                .Envios__CashBack__Span {
                  font-size: medium;
                }
              }
            }
          }
        }
      }
      /*PC*/
      @media only screen and (min-width: 1024px) {
        /*Header*/
      
        .navbar-expand-lg {
          .navbar-collapse {
            justify-content: end;
          }
      
          .navbar-nav .nav-link {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }
      
        /*Body*/
      
        /*Footer*/
      
        #Footer {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      
        .IconsStyle {
          margin: 10px;
        }
      }





  /*--------------------------PC ARMADA--------------------------*/
  




  .PcArmadaTitlePage {
    font-weight: bold;
    font-size: x-large;
  }
  
  .DropdownNTitle {
    display: flex;
    justify-content: space-between;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
  
  
  




  /*--------------------------REGISTRO--------------------------*/
  




  .GoogleLogo, .FacebookLogo {
    width: 35px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .GridPadre {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  
  
  .h4 {
    grid-area: auto;
    width: 250px;
  }
  
  .Nombre, .Mail {
    grid-area: auto;
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
  }
  
  .Checkbox {
    grid-area: auto;
    width: 250px;
  }
  
  .AcGoogle {
    grid-area: auto;
    background-color: $googleplus;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border-radius: 5px;
  }
  
  .AcFacebook {
    grid-area: auto;
    background-color: $facebook;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border-radius: 5px;
  }
  
  .FormRegistrar {
    width: 250px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 20px;
  }
  




  /*--------------------------INSUMOS--------------------------*/
  




  @media only screen and (max-width: 599px) {
    .d-ih {
      flex-direction: column;
      align-content: center;
      .dropdown {
        display: flex;
        justify-content: center;
      }
      .mr-10 {
        margin: 0px;
      }
    }
  }
  
  


  /*--------------------------NOTEBOOKS--------------------------*/
  




  .NotebookTitlePage {
    font-weight: bold;
    font-size: x-large;
    margin-left: 30px;
  }
  
  .DropdownNTitle {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
  .Contenedor {
    width: auto;
    margin:0 10%;
    .SectionItem-O {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .ItemContainer {
        .ItemBox {
          width: 230px;
          height: 280px;
          background-color: #EDEDED;
          display: block;
          border-radius: 10px;
          margin: 5px;
          .ItemImgBox {
            display: flex;
            justify-content: center;
            background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
            img {
              height: 150px;
              width: auto;
              padding-top: 20px;
            }
          }
          .ItemSpanBox {
            width: 100%;
            height: 30%;
            color: black;
            margin-top: 25px;
            overflow: hidden;
            .Title {
              text-align: center;
              width: 100%;
              display: block;
            }
            .Price {
              font-weight: bold;
              text-align: center;
              width: 100%;
              display: block;
              padding-bottom: 5px;
              background-color: $pal-white;
              font-size: x-large;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 599px) {
    .SectionBanner {
      display: none;
    }

    .Contenedor {
      margin: 20px 0;
      .SectionItem-O {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;
        .ItemContainer {
          width: calc(100%/2);
          margin: 0;
          .ItemBox {
            margin: 3px 3px;
            width: auto;
          }
        }
      }
    }
  }
 
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    .Contenedor {
      margin: 20px 0;
      .SectionItem-O {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        width: 100%;
        .ItemContainer {
          width: calc(100%/3);
          margin: 0;
          .ItemBox {
            margin: 3px 3px;
            width: auto;
          }
        }
      }
    }
  }

  



  /*--------------------------OFERTAS--------------------------*/





  .DropdownNTitleOfertas {
    display: flex;
    justify-content: space-between;
    .btn-secondary {
      background-color:$pal-gray;
    }
  }
  .Contenedor {
    width: auto;
    margin:0 10%;
    .SectionItem-O {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .ItemContainer {
        .ItemBox {
          width: 230px;
          height: 280px;
          background-color: #EDEDED;
          display: block;
          border-radius: 10px;
          margin: 5px;
          .ItemImgBox {
            display: flex;
            justify-content: center;
            background-image: linear-gradient(0deg, rgba(88, 88, 88, 0.466), transparent);
            img {
              height: 150px;
              width: auto;
              padding-top: 20px;
            }
          }
          .ItemSpanBox {
            width: 100%;
            height: 30%;
            color: black;
            margin-top: 25px;
            overflow: hidden;
            .Title {
              text-align: center;
              width: 100%;
              display: block;
            }
            .Price {
              font-weight: bold;
              text-align: center;
              width: 100%;
              display: block;
              padding-bottom: 5px;
              background-color: $pal-white;
              font-size: x-large;
            }
          }
        }
      }
    }
  }
  
  
  

  /*--------------------------ERROR 404--------------------------*/





  .Error404 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .TextErrorSpan {
      text-align: center;
    }
    .TextError {
      justify-content: center;
    }

  }





  /*--------------------------FOOTER--------------------------*/
  




  #Footer {
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: auto;
    padding-bottom: 10px;

    .LogoFooter {
      width: 209px;
      height: auto;
      display: block;
      padding: 5px 10px;
      margin: 10px;
    }
    

    .TextFooter {
      display: flex;
      text-align: center;
      flex-direction: column;
      padding: 10px;
      margin: 10px;
    
      ul li {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .IconsDiv {
      display: flex;
      justify-content: center;

      .IconsStyle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #DA0037;
        border-radius: 20px;
        width: 42px;
        height: 42px;
      }
    }
  }
  
  
 

  
  
